<!DOCTYPE html>
<!--Joanna Lao-->
<html>

<head>
  <title> Class Finder</title>
  <style>


  </style>

</head>

<body style="background-color:beige;">
  <h3 id="searchHeader" style="padding:0px;float: left"> Search </h3> &nbsp;

  <form action="/" method="POST" style="width:60%;padding:10px;"> 
       <input id="search " type="text" name = "searchText" style="width:50%;padding:10px;float: inherit"><label>in </label>
    <select name="searchList" id="filters">
    <option value="allFields">All Fields</option>
      <option value="title">Title</option>
      <option value="classNum">Class Number</option>
      <option value="day">Day</option>
      <option value="time">Time</option>
    </select>
   <button id="findButton">Find</button>
  </form>



  <table>
    <tr>
        <th>Title</th>
        <th>Subj </th>
        <th>Crs</th>
        <th>Instr </th>
        <th>Room </th>
        <th></th>
    </tr>
    <% details.forEach(function(item){ %>
    <tr>
        <td><%= item.route%></td>
        <td><%= item.origin %></td>
        <td><%= item.destination%></td>
        <td><%= item.estimatedTimeOfArrival %></td>
        <td><%= item.date%></td>
        <td><%= item.time%></td>
    
    </tr>
    <% }) %>
    </table>
 



  <script>


  </script>



</body>

</html>
